@model SimpleSocialNetwork.WebUI.PostServiceReference.PostDto

<li>
    @if (Model != null)
    {
        <div class="author">By <a href="@Url.Action("UserProfile", "User", new { Id = Model.AuthorId })">@Model.AuthorFirstName @Model.AuthorLastName</a></div>
    }
    @MvcHtmlString.Create(Model.Message.Replace(Environment.NewLine, "<br />"))
    <div>
        <time>@Model.DatePosted</time>
        @Html.ActionLink("Show comments", "GetPostComments", "User", new { postId = Model.Id }, new { @class = "commentsLink" })
        <a href="#" style="display:none" class="hideCommentsLink">Hide comments</a>
    </div>
    <div class="clear"></div>
    @if (Convert.ToInt32(User.Identity.Name) == Model.AuthorId || User.IsInRole("Moderator"))
    {
        <form method="post" class="remove removePost" action="@Url.Action("RemovePost", "User", new { postId = Model.Id }) ">
            <input type="submit" value="X" />
        </form>
    }
    <div class="comments"></div>
</li>
