@model SimpleSocialNetwork.WebUI.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <p>
        <input type="submit" value="Log In" />
    </p>
    @Html.ActionLink("Sign Up", "Signup")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

